.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .list {
    list-style: none;
    padding: 1rem;
  }
  
  .listitem {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .build{
    display: flex;

  }

  .userimg{
    height: 100px;
  }

  .img{
    height: 40px;
    margin-left: 15%;
    margin-top: 4%;
  }

  .para{
    margin-left: 5%;
    font-size: 1.2rem;
    text-transform: capitalize;
  }